@model List<Kunskap_ajax1.Models.adressBook>

@{
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "list"
    };
    var ajaxOptionsEdit = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "list"
    };
}
<h3>List of Person</h3>
@foreach (var item in Model)
{
  
        @item.Name  
        @item.Adress 
        @item.PhoneNumber 
        @Ajax.ActionLink($"Delete { item.Name}", "Delete", new { id = item.ID }, ajaxOptions)
        @Ajax.ActionLink($"Edit {item.Name}", "Edit", new { id = item.ID }, ajaxOptionsEdit)


      <br />
    
    

}

